
<!DOCTYPE html>
<html>
<head>
<!-- meta -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta property="qc:admins" content="23635710066417756375" />
<meta name="baidu-site-verification" content="QIQ6KC1oZ6" />

<meta content="拉勾,拉勾网,拉勾招聘,拉钩, 拉钩网 ,互联网招聘,拉勾互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 拉勾官网, 拉勾百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招" name="keywords" />

<meta content="拉勾网是3W旗下的互联网领域垂直招聘网站" name="description" />

<title>找工作-互联网招聘求职网-拉勾网</title>

<link rel="Shortcut Icon" href="//www.lgstatic.com/passport/static/common/static/favicon_faed927.ico" />


<!-- header/global_domain FE_base.. -->

<script>
(function() {
    var protocol = window.location.protocol;
    var host = window.location.host;
    var baseUrl = protocol + '//' + host;

    window.GLOBAL_DOMAIN = window.GLOBAL_DOMAIN || {
        ctx: protocol + '//www.lagou.com',
        rctx: protocol + '//hr.lagou.com',
        crctx: protocol + '//hr.lagou.com/company',
        pctx: protocol + '//passport.lagou.com',
        actx: protocol + '//account.lagou.com',
        paictx: protocol + '//pai.lagou.com',
        sctx: protocol + '//suggest.lagou.com',
        zctx: protocol + '//yanzhi.lagou.com',
        proctx: 'https://pro.lagou.com',
        lgsctx: protocol + '//www.lgstatic.com',
        FE_frontLogin: baseUrl + '//www.lagou.com/frontLogin.do',
        FE_frontLogout: baseUrl + '//www.lagou.com/frontLogout.do',
        FE_frontRegister: baseUrl + '//www.lagou.com/frontRegister.do'
    };

    window.GLOBAL_CDN_DOMAIN = 'www.lgstatic.com';
})();
</script>

<!-- 页面样式 --><!-- 动态token，防御伪造请求，重复提交 -->
<script>
    window.X_Anti_Forge_Token = 'bd3173fb-5ea8-4963-acdf-8600ef95877f';
    window.X_Anti_Forge_Code = '61406041';
</script>

<!-- H5  -->
<!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <link rel="stylesheet" type="text/css" href="//www.lgstatic.com/passport/static/pkg/pc/page/findpassword/step1.html_aio_d5cb12d.css" />
</head>
<body>
    <input type="hidden" value = "" id = "isVisiable_request_form_verifyCode" />
    <input type="hidden" value = "" id = "is_must_show_verify_code" />
<!-- 页面主体START -->
<header class="sso_header">
    <a href="http://www.lagou.com" class="logo"></a>
</header>

<section class="content_box" id="findPwd1">
    <!-- 通过手机号找回密码 -->
    <div class="findPwd">
        <h5 class="change_way"><a rel="nofollow" href="//passport.lagou.com/login/login.html">返回登录</a><span class="separate">|</span><a class="go_mail" rel="nofollow" href="javascript:;" id="go-mail">通过邮箱找回</a></h5>
        <form action="" method="">
            <ul class="form_head clearfix">
                <li class="active fl">
                    <span class="icon_step step1"></span>
                    验证手机号
                </li>
                <li class="line fr">
                    <span class="icon_step step2"></span>
                    重置密码
                </li>
            </ul>
            <div class="form_body"  data-view="phoneFindStep1">
                <div class="input_item clearfix"  data-propertyname="phone" data-controltype="Phone" >
                    <!--
	@require "pc/modules/country-code/main.js"
	@require "pc/modules/country-code/main.less"
-->
<span class="area_code"></span>
<div class="area_code_list">
    <dl class="code_list_main"></dl>
    <p class="tips">如果没有找到您的所在归属地，请拨打客服电话4006282835解决。</p>
</div>

                    <input type="text" class="input input_white" name="" placeholder="请输入注册时使用的手机号" data-required="required" autocomplete="off" >
                </div>
                <div class="input_item clearfix"  data-propertyname="request_form_verifyCode" data-controltype="VerifyCode" style="display: none;">
                    <div class="input_group clearfix">
                        <input type="text" class="input input_white fl" name="" placeholder="请证明你不是机器人" data-required="required" autocomplete="off" >
                        <img src="" alt="点击重试" class="yzm" width="98" height="40" />
                        <a rel="nofollow" href="javascript:;" class="reflash"></a>
                    </div>
                </div>
                <div class="input_item clearfix" data-propertyname="phoneVerificationCode" data-controltype="PhoneVerificationCode">
                    <div class="input_group clearfix">
                        <input type="text" class="input input_white first_child" name="" placeholder="请输入短信验证码" data-required="required" autocomplete="off" >
                        <input type="button" class="btn btn_active btn_lg last_child sense_msg_code" value="获取验证码" data-required="required">
                    </div>
                </div>
                <div class="input_item verify_tips" data-propertyname="autoPhoneVerificationCode" data-controltype="PhoneVerificationCode">
                    <p class="verify_tips_main">收不到短信？请使用
                        <input type="button" class="auto_phone sense_auto_code" value="语音验证">
                    </p>
                    <p class="verify_tips_count_down">语音发送成功</p>
                </div>

                <div class="input_item clearfix" data-propertyname="submit" data-controltype="Botton">
                    <input type="button" class="btn btn_green btn_active btn_block sense_find" value="找回密码">
                </div>
            </div>
            <div class="form_body" style="display:none"  data-view="phoneFindStep2">
                <div class="input_item clearfix" data-propertyname="newpwd" data-controltype="Password">
                    <input type="password" class="input input_white" name="" placeholder="请输入新密码 " data-required="required" autocomplete="off" >
                </div>
                <div class="input_item clearfix" data-propertyname="newrepwd" data-controltype="RepeatPassword">
                    <input type="password" class="input input_white" name="" placeholder="请再次输入密码" data-required="required" autocomplete="off" >
                </div>
                <div class="input_item clearfix" data-propertyname="submit" data-controltype="Botton">
                    <input type="button" class="btn btn_green btn_active btn_block" value="确定">
                </div>
            </div>
        </form>
    </div>
</section>
<section class="content_box" id="findPwd2">
    <!-- 通过邮箱来找回密码 -->
    <div class="findPwd">
        <h5 class="change_way"><a rel="nofollow" href="//passport.lagou.com/login/login.html">返回登录</a><span class="separate">|</span><a class="go_phone" rel="nofollow" href="javascript:;" id="go-phone">通过手机号找回</a></h5>
        <form action="" method="">
            <ul class="form_head clearfix">
                <li class="active fl">
                    <span class="icon_step step1"></span>
                    输入邮箱地址
                </li>
                <li class="fl line">
                    <span class="icon_step step2"></span>
                    验证邮箱
                </li>
                <li class="fr">
                    <span class="icon_step step3"></span>
                    重置密码
                </li>
            </ul>
            <div class="form_body"  data-view="emailFindStep1">
                <div class="input_item clearfix" data-propertyname="email" data-controltype="Email">
                    <input type="text" class="input input_white" name="" placeholder="请输入注册时使用的邮箱地址" data-required="required" autocomplete="off" >
                </div>
                <div class="input_item clearfix"  data-propertyname="request_form_verifyCode" data-controltype="VerifyCode">
                    <div class="input_group clearfix">
                        <input type="text" class="input input_white" name="" placeholder="请证明你不是机器人" data-required="required" autocomplete="off" >
                        <img src="" alt="点击重试" class="yzm" width="98" height="40" />
                        <a rel="nofollow" href="javascript:;" class="reflash"></a>
                    </div>
                </div>
                <div class="input_item clearfix" data-propertyname="submit" data-controltype="Botton">
                    <input type="button" class="btn btn_green btn_active btn_block" value="找回密码" >
                </div>
            </div>
            <div class="form_body" style="display:none">
                <div class="input_item clearfix">
                    <h3 class="reset_mail">密码重置邮件已发送至你的邮箱：<span class="des_mail">clear@3wcoffee.com</span></h3>
                    <p class="reset_tips">请在24小时内登录你的邮箱接收邮件,链接激活后可重置密码。</p>
                </div>
                <div class="input_item clearfix" style="display:none;" id="gotoVerify">
                    <input type="button" class="btn btn_green btn_active btn_block" value="登录邮箱查看" id="step2" >
                </div>
            </div>
            <div class="form_body" style="display:none">
                <div class="input_item clearfix">
                    <input type="text" class="input input_white" name="" placeholder="请输入新密码" data-required="required" autocomplete="off" >
                </div>
                <div class="input_item clearfix">
                    <input type="text" class="input input_white" name="" placeholder="请再次输入新密码" data-required="required" autocomplete="off" >
                </div>
                <div class="input_item clearfix">
                    <input type="button" class="btn btn_green btn_active btn_block" value="确定" id="step3" onclick="findByMail('step3')">
                </div>
            </div>
        </form>
    </div>
</section>
<!--
    @require "pc/modules/error-pop/main.less"
-->
<div style="display:none">
    <div class="popup" id="ajaxError" style="overflow:hidden;width:500px;">
        <h4 class="error_msg">网络出错啦</h4>
    </div>
</div>
<!-- 页面主体END -->
<input type="hidden" id="verifyStyle" style="display: none" value="nolagou"><!-- jquery lib --><!--拉勾UI框架 -->
<!-- analytics js file -->
<script type="text/javascript" src="//www.lgstatic.com/passport/static/pkg/vendor_c7a7c93.js"></script>
<script type="text/javascript" src="//www.lgstatic.com/passport/static/pkg/pc/page/findpassword/step1.html_aio_2d366a5.js"></script>
<script type="text/javascript">
    //login page
    require(['pc/page/findpassword/main']);
</script>
<script type="text/javascript" src="//www.lgstatic.com/passport/static/pkg/lg-analytics_44f2da6.js"></script>
<script type="text/javascript" src="https://passport.lagou.com/upload/oss.js"></script></body>
</html>
