<dd id="form_container">
    <div class="ccc_tr">今日已发布 <span>1</span> 个职位 还可发布 <span>4</span> 个职位</div>
    <div class="publish_tip">
        <h2>恭喜你，职位发布成功！</h2>
        <a target="_blank" href="/org/my_org/positions">我发布的职位</a><br>
        <a class="greylink" href="/org/my_org/create">继续发布新职位</a><br>
        <a class="greylink" href="http://127.0.0.1:8000/org_auth/myhome/"> 进入我的公司主页</a><br>
        <div style="float:left;" class="invite_share">
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_32x32">
                <a class="jiathis_button_tsina" title="分享到新浪微博"><span
                        class="jiathis_txt jiathis_separator jtico jtico_tsina">分享到新浪微博</span></a>
            </div>
            <!-- JiaThis Button END -->
        </div>
    </div>
    <div class="weixin weixinSuc">
        <div class="qr">
            <img width="110" height="110" src="/static/img/d1f91afa15eb451eaef4d14dcb3b54ec_318969.jpg">
            <div>[仅限本人使用]</div>
        </div>
        <div class="qr_text">
            <h3>关注微信服务号，可随时获取接收简历的通知 </h3>
            关注方式：<br>
            <span>打开微信 </span> <img width="30" height="30" src="/static/img/wx1.png"><span> →发现 </span>
            <img width="31" height="30" src="/static/img/wx2.png"><span> →扫一扫左侧二维码</span><img width="78"
                                                                                              height="29"
                                                                                              src="/static/img/wx3.png">
        </div>
    </div>
</dd>