<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="user_info">
        {{ user_info.name }}
    </div>
    <div class="work_exp">
        {{ work_exp.company }}
    </div>
    <div class="project_exp">
        {{ project_exp.name }}
    </div>
    <div class="education_exp">
        {{ edu_exp.school }}
    </div>
    <hr/>
    <div class="hunting_intent">
        {{ hunting_intent.position }}
    </div>
</div>
</body>
</html>